sound/z80built.bin
sound/z80built.prev.bin
sound/z80.lst
s1built.bin
s1built.prev.bin
sonic.lst
log.txt
SonLVL INI Files/dllcache/*

# mainly cause Amiga-Assembly extension on VS code does this..
build/*
Comment.exe
Comment.bat
